

<section class="flex-container" id="section-one">
<div class="container text-center">

  <h1 class="">Core Classes</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid
  </p>

  <a href="#" class="btn btn-md btn-default">Personal Finance</a>

  <a href="#" class="btn btn-md btn-default">Productivity Skills</a>
  <a href="#" class="btn btn-md btn-default">IT Skills</a>

</div>

<section class="flex-container" id="section-one">
<div class="container text-center">

  <h1 class="">Personal Finance</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid
  </p>

</div>
